target/
generated/
logs/
*.log
.DS_Store
.swp
release.properties
*.releaseBackup
myApp.log
nb-configuration.xml
nbactions.xml
runner.jar
*.war
runner/src/main/skeleton/athena/components/*/config/*.properties*